<div class="row">
  <div class="span8">
    <h2><a href="{{ BASE_PATH }}{{ page.url }}">{{ page.title }}</a> <small>({{ page.date | date_to_string }})</small></h2>
    {{ content }}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Föregående</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Föregående</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Arkiv</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Nästa &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Nästa &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">
    <h4>Kontakt</h4>
    <a href="mailto:mattias.wolff@gmail.com">mattias.wolff@gmail.com</a><br />
    Twitter: <a href="https://twitter.com/mattiaswolff">@mattiaswolff</a><br />
    GitHub:  <a href="https://github.com/mattiaswolff">mattiaswolff</a><br />
    <br />
    <h4>Tidigare inlägg</h4>
    {% assign posts_collate = site.posts %}
    {% include JB/posts_collate2 %}
    <br />
    <h4>Taggar</h4>
    <ul class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  </div>
</div>
